<footer class="bg-gray-800 py-10 text-center text-white">
    <p>&copy; Visawjeet Mallik, 2022</p>
    <a href="https://github.com/vishmallik/Expense-Tracker/tree/master">
        <i class="fab fa-github  cursor-pointer pt-4 text-4xl hover:text-green-400"></i>
    </a>
</footer>

</body>

</html>