<%-include("partials/header")-%>
<main class="bg-c3 min-h-screen">
  <div class="flex justify-between items-center container mx-auto">
    <section class="basis-1/2">
      <div class="flex items-center ">
        <div><img class="w-full" src="/images/expenses.jpg" alt=""></div>
        <h1 class="text-5xl font-bold px-10 ">Expense Tracker</h1>
      </div>
      <h2 class="text-bold text-3xl py-16">Go paperless with an automated online expense tracker.</h2>
      <p class="text-justify text-lg pr-">Stop wasting time with paper forms and worrying about losing receipts.
        Encourage
        employees
        to use an expense
        tracker to speed up the approval process, and make it more efficient for the finance team to reimburse them.</p>
    </section>
    <section class="basis-2/5 text-center py-8 px-16 border-white border-4 border-solid rounded-lg my-20">
      <form action="/users/register" method="post" class="flex flex-col">
        <label for="" class="text-2xl py-2 ">Create Your Account</label>
        <%if(success){%>
        <label class="text-green-600 font-semibold"><%=success%></label>
        <%}%>
          <%if(error){%>
        <label class="text-red-500 font-semibold"><%=error%></label>
        <%}%>
        <input class="px-4 py-2 my-2 rounded-md" type="text" name="name" id="name" placeholder="Name">
        <input class="px-4 py-2 my-2 rounded-md" type="email" name="email" id="email" placeholder="Email">
        <input class="px-4 py-2 my-2 rounded-md" type="password" name="password" id="password" placeholder="Password">
        <input class="px-4 py-2 my-2 rounded-md" type="number" name="age" id="age" placeholder="Age">
        <input class="px-4 py-2 my-2 rounded-md" type="tel" name="phone" id="phone" placeholder="Phone">
        <input class="px-4 py-2 my-2 rounded-md" type="text" name="country" id="country" placeholder="Country">
        <input class="px-4 py-2 my-2 rounded-md bg-green-500 cursor-pointer " type="submit" value="Sign Up">
      </form>
      <p class="py-4 text-lg font-bold">Or </p>
      <div class="oauth-btn">
        <a class="google-btn" href="/auth/google">
          <div class="google-icon-wrapper">
            <img class="google-icon"
              src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" />
          </div>
          <p class="btn-text"><b>Sign in with Google</b></p>
        </a>
        <a class="github-btn" href="/auth/github">
          <div class="google-icon-wrapper">
            <img class="google-icon"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/600px-Octicons-mark-github.svg.png?20180806170715" />
          </div>
          <p class="btn-text"><b>Sign in with Github</b></p>
        </a>
      </div>
    </section>
  </div>

</main>

<%-include("partials/footer")-%>